* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(31, 29, 88, 0.9), rgba(55, 0, 255, 0.6));
  background-image: url(./images/bg-min.png);
  background-size: contain;
  background-repeat: repeat;
}
@media (min-width: 700px) {
  body {
    background-size: cover;
    background-repeat: repeat;
  }
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 5px;
  padding: 20px 40px;
}

@media (min-width: 700px) {
  .container {
    gap: 30px;
    border-radius: 10px;
    padding: 40px 60px;
  }
}

h2 {
  font-size: 3em;
}

.game {
  width: 280px;
  height: 280px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  transform-style: preserve-3d;
  perspective: 500px;
}
@media (min-width: 700px) {
  .game {
    width: 430px;
    height: 430px;
    perspective: 500px;
    gap: 10px;
  }
}

.item {
  position: relative;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 0.75) 0%,
    rgba(31, 29, 88, 0.75) 50%
  );
  border-radius: 5px;
  transform: rotateY(180deg);
  transition: 0.25s;
}

@media (min-width: 700px) {
  .item {
    width: 100px;
    height: 100px;
    font-size: 3em;
  }
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(11, 52, 50) 100%
  );
  border-radius: 5px;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen:after,
.boxMatch:after {
  transform: rotateY(180deg);
}
